.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  color: #fff;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-right: 20px;

        .a {
          color: #fff;
          font-weight: 550;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 25px;
          transition: background-color 0.3s, transform 0.3s, color 0.3s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            transform: scale(1.05);
            color: #000000;
            font-weight: bolder;
          }

          &.active-link {
            background-color: rgba(255, 255, 255, 0.3);
            color: #000000;
            font-weight: bolder;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    nav ul {
      flex-direction: column;

      li {
        margin: 10px 0;
      }
    }
  }
}